@font-face {
  font-family: "BYekan";
  src: url("./fonts/BYekan-webfont.eot") format("eot"),
    url("./fonts/BYekan-webfont.woff") format("woff"),
    url("./fonts/BYekan-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* //////////////////////////////////////////////////////// */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* //////////////////////////////////////////////////////// */
@layer base {
  * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
    font-family: "BYekan";
  }
  body {
    background-color: #f9fafb !important;
  }
  main {
    direction: rtl;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
}

@layer components {
  .Navigation {
    @apply p-2 flex-row flex bg-white align-baseline flex-wrap-reverse shadow-lg;
  }
  @media only screen and (max-width: 600px) {
    .Navigation {
      @apply justify-center;
    }
  }
  .NavIcon {
    @apply flex justify-center items-center;
  }
  .BtnLogout {
    @apply border-red-500  py-2 text-lg text-white bg-red-600 flex border-2 leading-tight justify-center items-center  px-2 rounded-full hover:shadow-lg  focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }
  .BtnMessages {
    @apply border-green-600 text-xl py-1 text-white bg-green-600 flex border-2 leading-tight justify-center items-center  px-2 rounded-md hover:shadow-lg  focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }
  .BtnAccount {
    @apply dropdown-toggle px-2 py-2 text-lg bg-purple-600 text-white rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg active:text-white transition duration-150 ease-in-out flex items-center whitespace-nowrap;
  }
  .UiAccount {
    @apply text-center  min-w-max  text-base z-50 float-right py-2 list-none rounded-lg shadow-lg bg-clip-padding border-none bg-gray-800;
    transform: translate3d(-42px, 49px, 0px) !important;
  }
  .NavBreadCrumb {
    @apply border-t-2 justify-between px-2 flex flex-row  py-1 text-blue-900 hover:text-gray-800 focus:text-gray-700;
    background-color: #f9fafb;
    direction: rtl;
  }
  .NavTarikh {
    @apply flex  text-gray-600 items-start;
  }
  .TarikhBtn {
    @apply inline-block px-3 py-2.5 bg-purple-700 text-white  leading-tight  rounded shadow-md hover:bg-purple-800 hover:shadow-lg  transition duration-150 ease-in-out;
  }
  .SideNav {
    @apply w-60 flex justify-start text-lg items-start overflow-hidden h-full shadow-md bg-white absolute py-2;
    border-top-left-radius: 30px;
    border-left: 1px solid #e5e7eb;
    border-top: 1px solid #e5e7eb;
    
    border-bottom-left-radius: 30px;
  }
}
