@font-face {
  font-family: "BYekan";
  src: url("./fonts/BYekan-webfont.eot") format("eot"),
    url("./fonts/BYekan-webfont.woff") format("woff"),
    url("./fonts/BYekan-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* //////////////////////////////////////////////////////// */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* //////////////////////////////////////////////////////// */
@layer base {
  * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
    font-family: "BYekan";
  }
  body {
    background-color: #f9fafb !important;
    text-align: center;
  }
  main {
    direction: rtl;
    height: 100vh;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #a8bbbf;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #a8bbbf;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #a8bbbf;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
}

@layer components {
  /* Header */
  .Header {
    @apply p-2 border-b-2 flex-row w-full justify-between flex bg-white align-baseline flex-wrap-reverse shadow-lg;
  }
  .HeaderBtn {
    @apply flex justify-center items-center;
  }
  .BtnMessages {
    @apply lg:shadow-md hover:scale-110 text-xl py-1 px-4 border-green-700 border-2 text-white bg-green-600 flex  leading-tight items-center rounded-md hover:shadow-lg  focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }
  .FullOrDefaultScreen {
    @apply hover:scale-110 flex items-center mr-1 py-2.5 text-xl px-3 bg-slate-500 text-white leading-tight uppercase rounded shadow-md  focus:shadow-lg focus:outline-none focus:ring-0  hover:shadow-lg transition duration-150 ease-in-out;
  }
  .BtnAccount {
    @apply hover:scale-110 dropdown-toggle mx-1 px-2 py-2.5 text-xl bg-slate-500 text-white rounded shadow-md  hover:shadow-lg  active:shadow-lg active:text-white transition duration-150 ease-in-out flex items-center whitespace-nowrap;
  }
  .UlAccount {
    @apply text-center text-black  min-w-max  z-50 float-right py-2 list-none rounded-lg shadow-lg bg-clip-padding bg-white;
    transform: translate3d(-42px, 49px, 0px) !important;
  }
  .Tarikh {
    @apply inline-block px-3 py-2.5 bg-slate-500 text-white  leading-tight  rounded shadow-md hover:shadow-lg  transition duration-150 ease-in-out;
  }
  .BtnMenuMobile {
    @apply hover:scale-110 flex items-center mr-1 py-2.5 text-xl px-3 bg-slate-500 text-white leading-tight uppercase rounded shadow-md  focus:shadow-lg focus:outline-none focus:ring-0  hover:shadow-lg transition duration-150 ease-in-out;
  }
  .BtnLogout {
    @apply hover:scale-110 border-red-500 mr-2 p-2 text-lg text-white bg-red-600 flex border-2 leading-tight justify-center items-center  rounded-full hover:shadow-lg  focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }
  /* FinishHeader */
  /* /////////////////////////////// */
  /* Main */
  #Main {
    @apply flex flex-row-reverse;
  }
  #Content {
    @apply w-full h-full p-4;
  }
  .ParentTabel {
    height: 530px !important ;
    width: 100% !important;
    direction: ltr !important;
  }
  .Table {
    @apply w-full;
    direction: rtl !important;
    border-radius: 20px !important;
  }
  /* FinishMain */
  /* /////////////////////////////// */
  /* Menu */
  .MenuSystem {
    @apply flex justify-start text-lg items-start overflow-hidden shadow-lg bg-white p-3;
    border-left: 2px solid #e5e7eb;
    min-width: 200px !important;
    max-width: 200px !important;
  }
  .MenuMobile {
    @apply bg-white text-lg  offcanvas-end fixed bottom-0 invisible bg-clip-padding outline-none transition duration-300 ease-in-out top-0 right-0 border-none w-96;
    max-width: 280px !important;
  }
  .MenuLink {
    @apply flex w-full justify-evenly  items-center h-12 rounded-lg hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out cursor-pointer;
  }
  .MenuLinkNested {
    @apply flex items-center py-4 pl-12 pr-6 h-6 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out;
  }
  /* FinishMenu */
  /* /////////////////////////////// */
  /* Responsive */
  @media only screen and (max-width: 810px) {
    .BtnMenuMobile {
      @apply mr-0;
    }
    .Tarikh {
      display: none !important;
    }
  }
  @media only screen and (max-width: 1000px) {
    .MenuSystem {
      display: none;
    }
  }
  @media only screen and (max-width: 680px) {
    .BreadCrumbAndDarkOrLightMoodBtn {
      display: none !important;
    }
    .FullOrDefaultScreen {
      display: none !important;
    }
    .Header {
      @apply justify-center;
    }
  }
  @media only screen and (min-width: 1001px) {
    .BtnMenuMobile {
      display: none !important;
    }
  }
  /* FinishResponsive */
}
