@font-face {
  font-family: "BYekan";
  src: url("./fonts/BYekan-webfont.eot") format("eot"),
    url("./fonts/BYekan-webfont.woff") format("woff"),
    url("./fonts/BYekan-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* //////////////////////////////////////////////////////// */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* //////////////////////////////////////////////////////// */
@layer base {
  * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
    font-family: "BYekan";
  }
}
@layer components {
  .NavInfo {
    @apply p-2 flex-row flex  justify-between align-baseline flex-wrap-reverse shadow-lg;
  }

  .NavIcon {
    @apply text-gray-600 flex justify-center items-center;
  }
  .NavBtn {
    @apply flex py-2 border-2 leading-tight justify-center items-center  px-2 rounded-full hover:text-white  focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }

  .NavBreadCrumb {
    @apply border-t-2 justify-between px-2 border-gray-600 flex flex-row  py-1 text-blue-900 hover:text-gray-800 focus:text-gray-700;
    direction: rtl;
  }
  .NavTarikh {
    @apply flex  text-gray-600 items-start;
  }
  .TarikhBtn {
    @apply inline-block px-3 py-2.5 bg-purple-700 text-white  leading-tight  rounded shadow-md hover:bg-purple-800 hover:shadow-lg  transition duration-150 ease-in-out;
  }
}
